.container{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 100%;
}

.calculator-container{
    background-color: rgba(2, 8, 23, 1);
    outline: 1px solid rgb(30 41 59);
    height: 90%;
    max-height: 600px;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    
}

.buttons-container{
    height: 70%;
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px

}